* {

.card p,
.store-card ul {
  font-size: 1.4rem;
  line-height: 1.5;
}

.store-card ul {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.store-card li {
  margin-bottom: 0.5rem;
}

.featured {
  border-color: #ff00ff;
  transform: scale(1.05);
}

.price {
  font-size: 2.5rem;
  color: #00ff9f;
}

.terminal {
  background: black;
  border: 2px solid #00ff9f;
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2;
}

.online {
  color: lime;
}

.discord-box {
  text-align: center;
  border: 2px solid #ff00ff;
  padding: 3rem;
}

.discord-box p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

footer {
  text-align: center;
  padding: 2rem;
  border-top: 2px solid #ff00ff;
  color: #777;
}

@media(max-width: 768px) {

  nav {
    flex-direction: column;
    gap: 1rem;
  }

  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1.5rem;
  }

}
